/* Regole generali */
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fine regole generali */

/* macrostruttura */
#app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px 1fr 40px;
  grid-template-areas:
  "nav"
  "main"
  "footer";
}

nav {
  grid-area: nav;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 15px;
}

main {
  grid-area: main;
  background-color: #434343;
  overflow: auto;
}

footer {
  grid-area: footer;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contenuto */
/* nav */
.logo {
  max-height: 80%;
}

.search input {
  width: 180px;
  padding: 5px;
}

.search button {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px 8px;
}

.search button:hover {
  cursor: pointer;
  color: red;
  border-color: red;
}

.ricercaAvanzataButton {
  position: relative;
}

.ricercaAvanzata {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  min-width: 200px;
  min-height: 150px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

/* main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
}

/* risolve il bug del padding bottom su overflow */
main:after {
  content: "";
  display: block;
  height: 15px;
  width: 100%;
}

.movie {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #CDCDCD;
  width: 300px;
  height: 450px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.movie-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: black;
  color: white;
  display: none;
}

.summary {
  height: 50%;
  overflow: auto;
}

.summary .elenco::after {
  content: ", ";
}

.summary .elenco:last-child::after {
  content: "";
}

.overview {
  width: 100%;
  height: 50%;
  overflow: auto;
}

.movie:hover .movie-info  {
  display: block;
  transform: scale(1.1);
  z-index: 100;
  border: 2px solid #CDCDCD;
}

.movie:hover {
  overflow: visible;
  border: 0;
}

.flag {
  text-align: center;
  padding: 5px;
}

.flag img {
  width: 35px;
  border: 2px solid white;
  border-radius: 50%;
}

.poster {
  width: 100%;
}

/* fonts */
main h2 {
  font-size: 1rem;
  margin-bottom: 5px;
}
main span {
  font-size: 0.9rem;
  font-weight: 500;
}
