/* Regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fine regole generali */

/* macrostruttura */
nav {
  height: 40px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: calc(100vh - 70px);
  background-color: lightgrey;
  overflow: auto;
}

footer {
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* contenuto */
.movie {
  padding: 10px 0;
}

.flag {
  width: 50px;
}

.poster {
  width: 342px;
}
